@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
        font-family: 'Rubik_Wet_Paint';
        src: url('C:/Users/Юрец/source/repos/KYRSACH/RubikWetPaint-Regular.tff') format('tff');
        /* Добавьте другие форматы (woff, ttf) при необходимости */
        font-weight: 400;
        font-style: normal;
    }

