{% extends 'main/base.html' %}
{% block content %}
<div class="container mx-auto py-10">
    <div class="bg-white p-5 rounded shadow">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="mb-4">
        <h1 class="text-3xl">{{ product.name }}</h1>
        <p class="mt-2">{{ product.description }}</p>
        <p class="mt-4 text-2xl">{{ product.price }} руб.</p>
        <form action="{% url 'cart' %}" method="post">
            {% csrf_token %}
            <div class="mt-4">
                <label for="size" class="block">Размер:</label>
                <select name="size" id="size" class="border p-2">
                    {% for size in product.sizes.all %}
                    <option value="{{ size.id }}">{{ size.size }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mt-4">
                <label for="color" class="block">Цвет:</label>
                <select name="color" id="color" class="border p-2">
                    {% for color in product.colors.all %}
                    <option value="{{ color.id }}">{{ color.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="mt-4 bg-blue-500 text-white p-2 rounded">Добавить в корзину</button>
        </form>
    </div>
</div>
{% endblock %}
